{% extends "base.html"%}

{% block content %}
    <div class="container landing" style="margin-top:30px">
        <div class="row">
            {% if current_user.is_authenticated %}
                <div class="col-md-3 "><a class="btn btn-sm btn-info " id="ref" href="{{url_for('main.new_blog')}}">Post</a></div>
            {% endif %}

            <div class="col-md-9 "><h1 >Welcome to Zoo Blog!</h1></div>
        </div>

        <div class="row">
            <div class="col-md-8 ">
                {% for blog in blogs.items %}
                    <div class="container bg mb-2">
                        <hr>
                        <div class="row ">
                            <div class="avatar mx-auto float-left">
                                <img src="{{ url_for('static', filename='photos/' + blog.user.profile_pic_path) }}" class="rounded-circle img-fluid">
                                <p class="cyan-text"> Posted by:<a href="{{url_for('main.user_posts',username = blog.user.username)}}"><span  class=" badge badge-success ml-5 rounded-pill"style="color: blue"><strong>{{blog.user.username | title}}</strong></span> </a> </p>
                            </div>
                            <div class="col-md-6">
                                <p>Posted on : {{blog.date_posted.strftime('%d-%m-%Y')}}</p>
                                <h4><a href="{{url_for('main.blog',id = blog.id)}}">{{blog.title | upper}}</a></h4>
                                <p>{{blog.content}}</p>
                                <p> <a class="btn btn-sm rounded-pill pink-gradient" href="{{url_for('main.blog',id = blog.id)}}" > Comment</a> {{blog.comment.count()}} Comments</p>
                            </div>

                        </div>
                        <hr>
                    </div>

                {% endfor %}

                {% for page_num in blogs.iter_pages(left_edge = 1, right_edge = 1, left_current=1, right_current = 2) %}
                    {% if page_num %}
                        {% if blogs.page == page_num %}
                            <a href="{{url_for('main.home',page = page_num)}}" class="btn btn-sm btn-info mb-2">{{ page_num }}</a>
                        {% else%}
                            <a href="{{url_for('main.home',page = page_num)}}" class="btn btn-sm btn-outline-info mb-2">{{ page_num }}</a>
                        {% endif %}
                    {% else%}
                        ...
                    {% endif %}
                {% endfor %}

            </div>

            <div class="col-md-4">
                <div class="card card-cascade narrower">

                    <!-- Card image -->
                    <div class="view view-cascade gradient-card-header peach-gradient">

                        <!-- Title -->
                        <h2 class="card-header-title">A quote by: <span class="teal-text">{{quotes.author}}</span></h2>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Text -->
                        <p class="card-text">{{quotes.text}}.</p>

                    </div>

                </div>
                <!-- Card -->

                <div class="container-fluid">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    <form class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST">
                        <div class="md-form form-group">
                            <label class="white-color">Email Address...</label>
                            <input type="email"  class="form-control " name ="subscriber" required>
                        </div>
                        <div class="md-form form-group">
                            <button class="btn btn-sm btn-outline-info" id="subs">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}